<IfModule mod_mime.c>
    AddType model/gltf-binary .glb
    AddType model/gltf+json .gltf
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType model/gltf-binary "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
</IfModule>

<FilesMatch "\.(glb)$">
    Header set Access-Control-Allow-Origin "*"
    Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>
